.Movies_films {
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 20px;

}


.ButtonsList {
    height: 60px;
    text-decoration: none;
    display: inline-block;
    color: white;
    margin-left: 20px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
}

.GenreSearch {
    margin-top: 20px;
    margin-left: 40px;
}

.ButtonForGenres {
    width: 15px;
    font: bold 20px Arial;
    text-decoration: none;
    border: 1px solid #CCCCCC;
    border-radius: 30px;
    text-align: center;
    color: white;
    background-color: black;
    margin-left: 20px;
    padding: 10px;
}