.Wrapper {
    width: 100%;
    display: flex;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.6);
    background-color: white;
    border-bottom: 1px solid plum;
}

.img_header {
    height: 90px;
    width: 130px;
    padding-left: 50px;
}


.dark .Wrapper {
    background-color: slategray;
    border-bottom: 1px solid slategray;
}

.dark .Movie-box {
    background-color: dimgrey;
    color: white;
    border-radius: 10px;
}

.dark .ChangeTheme {
    background-color: white;
    color: black;
}

.dark .User_img {
    background: black;
}

.dark body {

}

.dark .Poster {
    background: black;
}

.dark .MovieInfo:after {
    background: linear-gradient(180deg, transparent, dimgrey 50%);
}

.dark .Wrap_box_list {
    background-color: dimgrey;
    border-radius: 10px;
    color: white;
}

.dark .Footer-text {
    color: white;
}

.dark .App {
    background-color: black;
}

.dark .info-box {
    background-color: slategray;
}

.dark .main-info {
    color: white;
}

.dark .ButtonForGenres {
    background-color: white;
    color: black;
}

.form_input {
    font-size: 20px;
    height: 50px;
    width: 400px;
    border-radius: 30px;
    text-align: center;
}

.movie_b {
    font-size: 25px;
    padding-top: 25px;
    padding-left: 50px;
    font-weight: bold;
}

.ChangeTheme {
    width: 130px;
    height: 30px;
    margin-left: 700px;
    margin-right: 50px;
    margin-top: 30px;
    border-radius: 20px;
    color: white;
    background-color: black;

}

.form_pos {
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 20px;
}

.find_button {
    font: bold 15px Arial;
    text-decoration: none;
    border: 1px solid #CCCCCC;
    border-radius: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 120px;
    text-align: center;
    margin-right: 50px;
    color: white;
    background-color: black;
}
